body{
    margin: 0 auto;
    height: 100%;
    padding-bottom: 120px;
    color: #fff;
}
/* header{
    background-color: #ffffff;
    width: 960px;
    height: 80px;
    text-align: right;
    margin: 0 auto;
    clear: both;
} */

/* nav{
    border-bottom: #4aaaa5 solid 2px;
    height: 80px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    vertical-align: -webkit-baseline-middle;
} */

.navbar{
    padding: 0px;
}

.bg-light {
    background-color: #fff!important;
}

section{
    border-top: #cccccc 2px solid;
    background-image: url(../images/topography.png);
    background-repeat: repeat;
    padding: 30px 0px 30px 0px;
}

.background{
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 20px 0px 0px 0px;
}

.navbar-brand{
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 24pt;
    padding: 20px 40px 10px 40px;
    float: left;
    height: 100%;
    vertical-align: middle;
    margin: 0px;
}

h2{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24pt;
    padding: 30px 0px 30px 0px;
    border-bottom: #cccccc 2px solid;
    margin: 0px 30px 0px 30px;
}

.img-portfolio{
    margin: 30px;
}

#main-bio{
    width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
    background-color: #ffffff;
    align-content: center;
    line-height: 150%
}

#contact-form{
    width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
    background-color: #ffffff;
    align-content: center;
}

#portfolio{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
    background-color: #ffffff;
    align-content: center;
}

#img-bio{
    margin: 30px;
}

#img-responsive{
    margin: 30px;
}

p{
    margin: 30px 30px 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #666666;
}

input[type=text], select {
    width: 94%;
    padding: 10px 10px;
    margin: 10px 30px 10px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px 10px 30px;
    padding: 10px 25px 10px 25px;
    background-color: #4aaaa5;
    color: white;
    font-size: 12pt;
    border: none;
    cursor: pointer;
}

footer{
    clear: both;
    background-color: #666666;
    margin: 0 auto;
    color: #d4d4d4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border-top: 7px #4aaaa5 solid;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
    
.nav-item ul,.nav-item li {
    display: inline;
    list-style: none;
}

.nav-item{
    color: #999;
}
.nav-link ul li:after {
    padding-right: 10px;
    padding-left: 10px;
    content: "|";
    color: #999;
}
.nav-item a {
    color: #999;
    text-decoration: none;
    letter-spacing: 0.90px;
}
.nav-link ul li:last-child:after {
    content: " ";
    padding-right: 0px;
    padding-left: 0px;
}

body{
    background-image: url('../images/topography.png');
    background-repeat: repeat;
}